.body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

.headerContainer {
  width: 100vw;
  height: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  z-index: 3;
}

.gradientBackgroundHeader1 {
  width: fit-content;
  height: 100%;
  opacity: 0;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5vh;
  background-clip: text;
}

.gradientBackgroundHeader2 {
  width: fit-content;
  height: 100%;
  opacity: 1;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.8vw;
  background-clip: text;
  transition-duration: 1.3s;
}

.title {
  font-size: 3.8vw;
  font-weight: 700;
  color: transparent;
  margin: 0;
  padding: 0;
  margin-bottom: 0.2vw;
}

.subTitle {
  font-size: 1.5vw;
  font-weight: 700;
  color: transparent;
  margin: 0;
  padding: 0;
}

.headerLineContainer {
  width: 100vw;
  min-height: 3px;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.headerGradientLine1 {
  min-height: 4px;
  width: 0vw;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  margin-bottom: 0.1vh;
  opacity: 0.8;
}

.headerGradientLine2 {
  min-height: 4px;
  width: 100vw;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  transition-duration: 1.2s;
  margin-bottom: 0.1vh;
  opacity: 1;
  z-index: 1;
}


.centralContainer {
  height: 100%;
  width: 100vw;
  display: flex;
}


.modal1 {
  position: relative;
  margin-top: calc(-100vh + 8vw);
  width: 23vw;
  height: calc(100vh - 9vw);
  /* background: linear-gradient(90deg, rgb(19, 19, 19), rgb(25, 25, 25)); */
  background: linear-gradient(90deg, rgb(13, 13, 13), rgb(23, 23, 23));
  border-bottom-right-radius: 1vw;
  /* box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.3), inset -5px -5px 10px rgba(0, 0, 0, 0.5); */
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.5);
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
.modal2 {
  background: linear-gradient(90deg, rgb(87	14	149	), #120062);
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.3), inset -5px -5px 10px rgba(0,0,0,0.5);
} */



.modal2 {
  position: relative;
  margin-top: 0;
  width: 23vw;
  height: calc(100vh - 9vw);
  background: linear-gradient(90deg, rgb(10, 10, 10), rgb(21, 21, 21));
  transition-duration: 1s;
  border-bottom-right-radius: 1vw;
  border-top-right-radius: 1vw;
  box-shadow: inset -6px -6px 14px rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.buttonContainer1 {
  width: 100%;
  height: 50%;
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: scroll;
  align-items: center;
  padding-right: 10vw;
  opacity: 0;
}

.buttonContainer2 {
  width: 100%;
  height: 50%;
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: scroll;
  opacity: 1;
  transition-duration: 1s;
}

.button1 {
  height: 5vw;
  width: 18vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3vw;
  cursor: pointer;
  transition-duration: 0.8s;
}

.button2 {
  height: 5vw;
  width: 21vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6vw;
  cursor: pointer;
  transition-duration: 0.5s;
}

.categoryLine {
  height : 4px;
  width : 25%;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
}

.gradientCategory {
  width: 40%;
  height: 100%;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  background-clip: text;
  display: flex;
  align-items: center;
}

.category {
  color : rgb(240, 235, 243)
}

.leftContainer {
  border-right: 1px solid white;
  height: 100%;
  width: 30vw;
}

.rightContainer {
  border-right: 1px solid white;
  height: 100%;
  width: 70vw;
}



/* Hover des composants  */


.button1:hover {
  height: 5vw;
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5vw;
  cursor: pointer;
  transition-duration: 0.8s;
}