.body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(7, 5, 8);
  /* font-family: "Noto Sans Bengali", sans-serif; */
  font-family: "Kumbh Sans", sans-serif;
}

.headerContainer {
  width: 100vw;
  height: 25vw;
  /* height: 9.5vw; */
  /* height: 11.5vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  background-color: rgb(7, 5, 8);
}

.backgroundVideo0 {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
  opacity: 0;
}


.backgroundVideo1 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
  opacity: 0;
}

.backgroundVideo2 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
  opacity: 0.9;
  transition-duration: 9s;
}

.backgroundVideo3 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
  opacity: 0.6;
}

.titleBackground1 {
  background-color: rgba(233, 227, 235, 0);
  height: fit-content;
  width: fit-content;
  padding : 0.1vw 1vw 0.1vw;
  border-radius: 0.7vw;
}

.titleBackground2 {
  background-color: rgba(233, 227, 235, 0.85);
  height: fit-content;
  width: fit-content;
  /* padding : 0.2vw 1.2vw 0.2vw; */
  padding : 0.1vw 1vw 0.1vw;
  border-radius: 0.7vw;
  transition-duration: 5.2s;
}

.titleBackground3 {
  background-color: rgba(233, 227, 235, 0.85);
  height: fit-content;
  width: fit-content;
  padding : 0.1vw 1vw 0.1vw;
  border-radius: 0.7vw;
  transition-duration: 0s;
}

.gradientBackgroundHeader1 {
  width: fit-content;
  height: 100%;
  opacity: 0;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.8vw;
  background-clip: text;
}

.gradientBackgroundHeader2 {
  width: fit-content;
  height: 100%;
  opacity: 1;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.8vw;
  background-clip: text;
  transition-duration: 1.6s;
}

.title {
  font-size: 3.2vw;
  font-weight: 750;
  letter-spacing: 0.25vw;
  line-height: 4.3vw;
  color: transparent;
  margin: 0;
  padding: 0;
  margin-bottom: 0.4vw;
}

.subTitle {
  font-size: 1.4vw;
  font-weight: 700;
  color: transparent;
  margin: 0;
  padding: 0;
  letter-spacing: 0.07vw;
}

.headerLineContainer {
  width: 100vw;
  min-height: 4px;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.headerGradientLine1 {
  min-height: 4px;
  width: 0vw;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  opacity: 0.4;
}

.headerGradientLine2 {
  min-height: 4px;
  width: 100vw;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  transition-duration: 1.5s;
  opacity: 1;
  z-index: 1;
}

.headerGradientLine3 {
  min-height: 4px;
  width: 100vw;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  opacity: 1;
  z-index: 1;
}


.mainContainer {
  /* height: calc(100vh - 11.5vw - 4px); */
  height: calc(100vh - 25vw - 4px);
  width: 100vw;
  display: flex;
}


.modal1 {
  position: relative;
  margin-top: calc(-100vh + 25vw);
  width: 23vw;
  height: 100%;
  /* background: linear-gradient(90deg, rgb(19, 19, 19), rgb(25, 25, 25)); */
  background: linear-gradient(90deg, rgb(13, 13, 13), rgb(23, 23, 23));
  border-bottom-right-radius: 1vw;
  /* box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.3), inset -5px -5px 10px rgba(0, 0, 0, 0.5); */
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.5);
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8%;
}

/* 
.modal2 {
  background: linear-gradient(90deg, rgb(87	14	149	), #120062);
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.3), inset -5px -5px 10px rgba(0,0,0,0.5);
} */



.modal2 {
  position: relative;
  margin-top: 0;
  width: 23vw;
  height: 100%;
  background: linear-gradient(90deg, rgb(10, 10, 10), rgb(21, 21, 21));
  transition-duration: 1.3s;
  border-bottom-right-radius: 1vw;
  border-top-right-radius: 1vw;
  box-shadow: inset -6px -6px 14px rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8%;
}

.modal3 {
  position: relative;
  margin-top: 0;
  width: 23vw;
  height: 100%;
  background: linear-gradient(90deg, rgb(10, 10, 10), rgb(21, 21, 21));
  border-bottom-right-radius: 1vw;
  border-top-right-radius: 1vw;
  box-shadow: inset -6px -6px 14px rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8%;
}


.buttonContainer1 {
  width: 100%;
  height: 53%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: scroll;
  align-items: center;
  padding-right: 10vw;
  opacity: 0;
}

.buttonContainer2 {
  width: 100%;
  height: 53%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: scroll;
  opacity: 1;
  transition-duration: 1.5s;
}

.button1 {
  width: 18vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.45vw;
  cursor: pointer;
  transition-duration: 0.8s;
  color: rgb(240, 235, 243);
}

.button2 {
  width: 23vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.85vw;
  cursor: pointer;
  transition-duration: 0.5s;
  color: rgb(255, 255, 255);
}

.categoryLine1 {
  height: 4px;
  width: 25%;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  transition-duration: 0.8s;
  border-radius: 3px;
}

.categoryLine2 {
  height: 6px;
  width: 25%;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  transition-duration: 0.5s;
  border-radius: 3px;
}

.category {
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 0.05vw;
  width: 40%;
}




.rightContainer1 {
  width: 77vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding : 4.5vw 6vw;
  overflow-y: scroll;
  opacity: 0;
}

.rightContainer2 {
  width: 77vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* padding-left: 4.5vw; */
  padding : 4.5vw 6vw;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: grey black;
  transition-duration: 3.5s;
}

.rightContainer3 {
  width: 77vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* padding-left: 4.5vw; */
  padding : 4.5vw 6vw;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: grey black;
}


.categoryTitle {
  color: rgb(240, 235, 243);
  font-size: 1.45vw;
  font-weight: 400;
  letter-spacing: 0.05vw;
  margin: 0;
  margin-bottom: 1.5vw;

}

.gradientTextContainer {
  width: fit-content;
  height: fit-content;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  background-clip: text;
  margin-bottom: 4vw;
}

.categorySubtitle {
  color: transparent;
  font-size: 2.1vw;
  font-weight: 700;
  letter-spacing: 0.05vw;
  margin: 0;

}

.avatarContainer {
  width : 10vw;
  min-height : 10vw;
  position: relative;
  margin-top: -1.5vw;
  margin-bottom: 3vw;
}

.avatar {
  border-radius: 50%;
  object-fit: contain;
}

.categoryDetailsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7vw;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.paragraph1 {
  /* color: rgb(211, 204, 214); */
  color: rgb(227, 219, 230);
  font-size: 1.2vw;
  font-weight: 300;
  letter-spacing: 0.05vw;
  margin: 0;
  margin-bottom: 0.5vw;
  text-indent: 1vw;
}

.picturesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.squareGradient {
  height: 6.5vw;
  width: 13vw;
  border-radius: 0.5vw;
  background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.3vw 0.2vw;
  margin-bottom: 1.5vw;
}

.squareText {
  color: rgb(255, 255, 255);
  font-size: 1.1vw;
  font-weight: 600;
  letter-spacing: 0.05vw;
  margin: 0;
  text-align: center;
  line-height: 1.5vw;
}

.skillsIcon {
  color: white;
  width: 2.3vw;
  height: 2.3vw;
}


.gradientTextContainer2 {
  width: fit-content;
  height: fit-content;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  background-clip: text;
  margin-bottom: 5.5vw;
}


.toolsCategoriesContainer1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.5vw;
  margin-top: 1vw;
}

.toolsCategoriesContainer2 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8vw;
}

.rectangleGradient {
  width: 46%;
  border-radius: 0.5vw;
  background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1vw 1.5vw 1.3vw;
}


.skillTitle {
  color: rgb(255, 255, 255);
  font-size: 1.4vw;
  font-weight: 600;
  letter-spacing: 0.05vw;
  margin: 0;
  margin-bottom: 3vw;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 1vw;
  text-decoration-thickness: 1px;
}

.toolsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border : white solid 1px */
}

.toolText {
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 0.05vw;
  margin: 0;
  text-align: center;
  margin-bottom: 1.2vw;
}

.toolIcon {
  color: white;
  height: 2.5vw;
  width: 2.5vw;
}


.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsLine1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5vw;
  width: 80%;
}


.squareGradient2 {
  width: 46%;
  height : 25vw;
  border-radius: 0.5vw;
  background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 1vw 0.5vw;
  font-size: 1.3vw;
  transition-duration: 0.5s;
  cursor: pointer;
}


.projectTitle {
  color: rgb(255, 255, 255);
  font-size: 100%;
  font-weight: 600;
  letter-spacing:0.05em;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.6em;
  text-decoration-thickness: 0.05em;
  margin-bottom : 0.5em;
}

.projectSubtitle {
  color: rgb(255, 255, 255);
  font-size: 75%;
  font-weight: 400;
  letter-spacing:0.05em;
  margin: 0;
  text-align: center;
  line-height: 160%;
}


.projectImgContainer {
width: 100%;
height : 70%;
position: relative;
}


.projectImg {
  border-radius: 0.5vw;
  object-fit: contain;
}

.boostUpVideo {
  object-fit: contain;
  height: 100%;
  width: 100%;
}




/* Hover des composants  */


.button1:hover {
  width: 22.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.65vw;
  cursor: pointer;
  transition-duration: 0.8s;
}

.button1:hover .categoryLine1 {
  height: 5px;
  width: 25%;
  background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  transition-duration: 0.5s;
  border-radius: 3px;
}


.squareGradient2:hover {
  width: 50%;
  height : 27vw;
  border-radius: 0.5vw;
  background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 1vw 0.5vw;
  font-size: 1.4vw;
  transition-duration: 0.5s;
  cursor: pointer;
}