@media only screen and (min-width: 600px) {

    .categoryTitle {
        color: rgb(240, 235, 243);
        font-size: 1.5vw;
        font-weight: 300;
        letter-spacing: 0.08vw;
        margin: 0;
        margin-bottom: 1.8vw;

    }

    .gradientTextContainer2 {
        width: fit-content;
        height: fit-content;
        background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
        background-clip: text;
        margin-bottom: 5.5vw;
    }


    .categorySubtitle {
        color: transparent;
        font-size: 2.1vw;
        font-weight: 700;
        letter-spacing: 0.05vw;
        margin: 0;

    }


    .projectsContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .projectsLine {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2vw;
        width: 50vw;
        position: relative;
        min-height: 25vw;
    }

    .leftProjectItem {
        width: 100%;
        height: 100%;
        border-radius: 0.5vw;
        background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1vw 1vw 0.5vw;
        position: relative;
        transition:
            height 1.2s,
            width 1.2s,
            opacity 1.2s,
            font-size 0s;
        cursor: pointer;
        opacity: 1;
    }

    .squareRevealContainerLeftOrTopLine {
        width: 24vw;
        height: 25vw;
        font-size: 1.3vw;
        border-radius: 0.5vw;
        transition-duration: 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rightProjectItem {
        width: 100%;
        height: 100%;
        border-radius: 0.5vw;
        background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1vw 1vw 0.5vw;
        position: relative;
        transition: font-size 0.4s;
        transition:
            height 1.2s,
            width 1.2s,
            opacity 1.2s,
            font-size 0s;
        cursor: pointer;
        opacity: 1;
    }

    .squareRevealContainerRightOrBottomLine {
        width: 24vw;
        height: 25vw;
        font-size: 1.3vw;
        border-radius: 0.5vw;
        transition-duration: 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .smallLeftProjectModal {
        width: 24vw;
        height: 25vw;
        max-height: 25vw;
        border-radius: 0.5vw;
        background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1vw 1vw 0.5vw;
        font-size: 1.3vw;
        cursor: pointer;
        opacity: 0;
        top: 0;
        left: 0vw;
        position: absolute;
        z-index: -1;
        pointer-events: none;
        transition:
            height 0.3s 0s,
            width 0.3s 0s,
            opacity 0s 0.3s,
            z-index 0s 0.3s,
            top 0.3S 0s,
            font-size 0.2s 0s,
            left 0.3s 0s,
            max-height 0.3s 0s;
    }


    .smallRightProjectModal {
        width: 24vw;
        height: 25vw;
        max-height: 25vw;
        border-radius: 0.5vw;
        background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1vw 1vw 0.5vw;
        font-size: 1.3vw;
        cursor: pointer;
        opacity: 0;
        top: 0;
        left: 26vw;
        position: absolute;
        z-index: -1;
        pointer-events: none;
        transition:
            height 0.3s 0s,
            width 0.3s 0s,
            opacity 0s 0.3s,
            z-index 0s 0.3s,
            top 0.3S 0s,
            font-size 0.2s 0s,
            left 0.3s 0s,
            max-height 0.3s 0s;
    }


    .bigProjectModal {
        width: 51vw;
        height: 44vw;
        max-height: 90vh;
        border-radius: 0.5vw;
        background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0.5vw 1vw 0vw;
        font-size: 1.6vw;
        opacity: 1;
        left: -4vw;
        right: auto;
        top: -10vw;
        position: absolute;
        transition:
            height 0.3s,
            width 0.3s,
            font-size 0.2s,
            top 0.3s,
            left 0.3s,
            right 0.2s,
            max-height 0.3s;
        z-index: 11;
        cursor: auto;
    }

    .closeIcon {
        color: white;
        position: absolute;
        right: 0.8vw;
        top: 0.7vw;
        height: 2.2vw;
        width: 2.2vw;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s;
    }


    .projectTitle {
        color: rgb(255, 255, 255);
        font-size: 100%;
        font-weight: 600;
        letter-spacing: 0.05em;
        margin: 0;
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 0.6em;
        text-decoration-thickness: 0.05em;
        margin-bottom: 0.5em;
    }

    .projectSubtitle {
        color: rgb(255, 255, 255);
        font-size: 75%;
        font-weight: 400;
        letter-spacing: 0.05em;
        min-height: 3.3em;
        max-height: 3.3em;
        margin: 0;
        text-align: center;
        line-height: 160%;
        overflow: hidden;
    }


    .projectImgContainer {
        width: 100%;
        height: 70%;
        position: relative;
        transition-duration: 0.3s;
    }

    .projectVideoContainer {
        width: 94.8%;
        height: 80%;
        position: relative;
        transition-duration: 0.3s;
    }


    .projectImg {
        border-radius: 0.5vw;
        object-fit: contain;
    }

    .projectVideo {
        object-fit: contain;
        height: 100%;
        width: 100%;
        border-radius: 3%;
    }


    .maskOn {
        min-width: 100vw;
        min-height: 150vh;
        top: -25vh;
        left: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 8;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        transition: background-color 0.3s;
    }

    .maskOff {
        top: -100vh;
        left: -29vw;
        min-width: 0vw;
        min-height: 0vh;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.3s 0s,
            min-width 0.1s 0.3s,
            min-height 0.1s 0.3s;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }




    /* Hover */


    .squareRevealContainerLeftOrTopLine:hover {
    width: 25vw;
    height: 26vw;
    border-radius: 0.7vw;
    background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
    font-size: 1.35vw;
    transition-duration: 0.4s;
    margin-left: -0.5vw;
  }

  .squareRevealContainerRightOrBottomLine:hover {
    width: 25vw;
    height: 26vw;
    border-radius: 0.7vw;
    background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
    font-size: 1.35vw;
    transition-duration: 0.4s;
    margin-right: -0.5vw;
  }


}







/* Changement pour affichage smartphone */



@media only screen and (max-width: 600px) {

    .categoryTitle {
        color: rgb(240, 235, 243);
        font-size: 6.5vw;
        font-weight: 400;
        letter-spacing: 0.08vw;
        margin: 0;
        margin-bottom: 5vw;

    }

   .gradientTextContainer2 {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(90deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
    background-clip: text;
    margin-bottom: 11vw;
  }

    .categorySubtitle {
        color: transparent;
        font-size: 5.8vw;
        font-weight: 700;
        letter-spacing: 0.05vw;
        margin: 0;

    }


    .projectsContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .projectsLine {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6vw;
        width: 100%;
        position: relative;
        min-height: 25vw;
    }

    .leftProjectItem {
        width: 100%;
        height: 100%;
        border-radius: 2vw;
        background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 1vw 1.5vw;
        position: relative;
        font-size: 4.5vw;
        transition:
            height 1.2s,
            width 1.2s,
            opacity 1.2s,
            font-size 1.2s;
        cursor: pointer;
        opacity: 1;
    }

    .squareRevealContainerLeftOrTopLine {
        width: 85vw;
        height: 85vw;
        transition-duration: 0.6s;
        margin-bottom: 6vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rightProjectItem {
        width: 100%;
        height: 100%;
        border-radius: 2vw;
        background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 1vw 1.5vw;
        position: relative;
        font-size: 4.5vw;
        transition:
            height 1.2s,
            width 1.2s,
            opacity 1.2s,
            font-size 1.2s;
        cursor: pointer;
        opacity: 1;
    }

    .squareRevealContainerRightOrBottomLine {
        width: 85vw;
        height: 85vw;
        transition-duration: 0.6s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .smallLeftProjectModal {
        width: 85vw;
        height: 85vw;
        max-height: 85vw;
        border-radius: 2vw;
        background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 1vw 1.5vw;
        font-size: 4.5vw;
        cursor: pointer;
        opacity: 0;
        top: 0;
        left: 6vw;
        position: absolute;
        z-index: -1;
        pointer-events: none;
        transition:
            height 0.3s 0s,
            width 0.3s 0s,
            opacity 0s 0.3s,
            z-index 0s 0.3s,
            top 0.3S 0s,
            font-size 0.2s 0s,
            left 0.3s 0s,
            max-height 0.3s 0s;
    }


    .smallRightProjectModal {
        width: 85vw;
        height: 85vw;
        max-height: 85vw;
        border-radius: 2vw;
        background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 1vw 1.5vw;
        font-size: 4.5vw;
        cursor: pointer;
        opacity: 0;
        top: 91vw;
        left: 6vw;
        position: absolute;
        z-index: -1;
        pointer-events: none;
        transition:
            height 0.3s 0s,
            width 0.3s 0s,
            opacity 0s 0.3s,
            z-index 0s 0.3s,
            top 0.3S 0s,
            font-size 0.2s 0s,
            left 0.3s 0s,
            max-height 0.3s 0s;
    }


    .bigProjectModal {
        width: 96vw;
        height: 140vw;
        max-height: 90vh;
        border-radius: 2vw;
        background: linear-gradient(45deg, #8000af, rgb(62, 6, 152) 50%, #1b0093);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 3vw 1vw;
        font-size: 5.2vw;
        opacity: 1;
        left: 2vw;
        position: absolute;
        transition:
            height 0.3s,
            width 0.3s,
            font-size 0.3s,
            top 0.3s,
            left 0.2s,
            max-height 0.3s;
        z-index: 11;
    }

    .closeIcon {
        color: white;
        position: absolute;
        right: 3.5vw;
        top: 2vw;
        height: 7vw;
        width: 7vw;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s;
    }


    .projectTitle {
        color: rgb(255, 255, 255);
        font-size: 100%;
        font-weight: 600;
        letter-spacing: 0.05em;
        margin: 0;
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 0.5em;
        text-decoration-thickness: 0.05em;
        margin-bottom: 0.9em;
    }

    .projectSubtitle {
        color: rgb(255, 255, 255);
        font-size: 83%;
        font-weight: 400;
        letter-spacing: 0.05em;
        margin: 0;
        text-align: center;
        line-height: 160%;
        overflow: hidden;
    }


    .projectImgContainer {
        width: 89%;
        height: 68%;
        position: relative;
        transition-duration: 0.3s;

    }

    .projectVideoContainer {
        width: 94%;
        height: 75%;
        position: relative;
        transition-duration: 0.3s;
    }


    .projectImg {
        border-radius: 2vw;
        object-fit: contain;
    }

    .projectVideo {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 3%;
        transition-duration: 0.3s;
    }


    .maskOn {
        min-width: 100vw;
        min-height: 140vh;
        top: -20vh;
        left: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 8;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        transition: background-color 0.3s;
    }

    .maskOff {
        top: -20vh;
        left: 0;
        min-width: 0vw;
        min-height: 0vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.3s 0s,
            min-width 0.1s 0.3s,
            min-height 0.1s 0.3s;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

}